/* Variáveis e estilos globais */
:root {
    --header-background-color: #333; /* Exemplo de cor */
}

/* Geral */
.container, .sale-card {
    box-sizing: border-box;
    display: flex;
    position: relative;
}

.container {
    display: flex;
    width: 100%;
    height: 88%;
    padding: 20px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
}

.filtros-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
    width: 40%;
    box-sizing: border-box;
    overflow: hidden; 
    margin-right: 15px;
    border: 1px solid black;
}

.div-data {
    display: flex;
    gap: 10px; 
}

.div-data label {
    font-size: 14px; 
    font-weight: bold; 
    margin-bottom: 5px; 
    color: #333; 
}

/* Container para os inputs, para posicioná-los lado a lado */
.div-data .inputs-container {
    display: flex;
    gap: 10px; 
}

.div-data input {
    width: 100%; 
    max-width: 200px;
    padding: 8px; 
    font-size: 14px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
}


.filtros-img img.img-detalhes {
    display: block;
    margin: 0 auto; 
    width: 210px;          
    height: auto;            
    padding: 10px;
}

.filtros-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px; 
}

.filtros-data label {
    font-size: 14px;
    color: #333; 
    margin-bottom: 0px;
    font-weight: bold;
}

.filtros-data input {
    width: 100%;
    padding: 8px; 
    font-size: 14px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.filtros-data input:focus {
    border-color: #007bff; 
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.filtros-data button {
    background-color: #007bff; 
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filtros-data button:hover {
    background-color: #0056b3;
}


.titulo-relatorio{
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    text-align: center;
}

.titulo-dv{
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(230, 230, 230);
}

.vendas-filtradas { 
 margin-top: 0.3%;
 width: 32%;
 height: 100%;
 overflow-y: scroll;
 border: 1px solid black;
 margin-left: 1%;
}
.comprovantes-div{
    display: flex;
    justify-content: center;
    border: 1px dotted black;
    margin-left: 4%;
    margin-right: 4%;
}

.sale-card{
    padding: 15px;
    width: 300px;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

.sale-card p {
    margin: 5px 0;
    font-size: 14px;
    border-bottom: 2px dotted #0000003f;
}

.sale-card span {
    font-weight: bold;
}

/* Filtros */
.filtros {
    width: 30%;
    height: 100%;
    flex-shrink: 0;
    color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
}

.filtros h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
}

.filtros .sale-total ,.total-relatorio,.no-sales-message {
    padding: 2%;
    margin-top: 2%;
}
.sale-total{
   border: 1px solid black;
}

.sales-history{
    padding-top: 5%;
}

.filtros, .no-sales-message, .sale-total p {
    margin: 5px 0;
}
.no-sales-message{
background-color: rgb(230, 230, 230);
display: flex;
justify-content: center;
font-size: 1.2rem;
}

.filtros, .no-sales-message, .sale-total h3 {
    color: #000000;
}

.filtros .sale-total p strong {
    color: #00a70b;
}
.total-relatorio{
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid black;
}
.total-vendas{
    margin-top: 5px;
}
.total-filtradas {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2%;
    flex-direction: column;
}

/* Detalhes de vendas */
.container-detalhes-vendas {
    margin-top: 50px;
    height: 90%;
    width: 95%;
    max-width: 100%;
    max-height: 100%;
}
#numeroPedido{
    width: 50%;
}
.comprovantes-vendas {
  position: absolute;
  z-index: 100;
  background-color:#f9f9f9;
  text-align: center;
  width: 28.2%;
  padding: .5%;
  border-bottom: 1px solid black;
}
